# TAREA SEMANA  3: FUNDAMENTOS DE PYTHON
## Nombre : Jesus Alejandro Verduzco Cota

### Ejercicio 1
Escribir dos funciones que simulan una calculadora científica que permita calcular el seno, coseno, tangente, exponencial y logaritmo neperiano o natural (logaritmo en base euler).

 - A. La función uno preguntará al usuario el intervalo donde quiere aplicar la función matemática y la función a aplicar, y mostrará por pantalla una tabla donde la primera columna será los valores del intervalo dado (x) y la columna 2 tendrá los resultados de el resultado de aplicar la función a este intervalo (y).

In [ ]:
import numpy as np
import pandas as pd

def calculo_funciones():
    func = int(input(f'''Indique el número correspondiente a la función a aplicar:
        1. Seno
        2. Coseno
        3. Tangente
        4. Exponencial
        5. Logaritmo natural.\n'''))
    inicio = float(input('Ingrese el inicio del intervalo: '))
    fin = float(input('Ingrese el fin del intervalo: '))
    x = np.linspace(inicio,fin,20)

    # Decisión de que funcion aplicar
    if func == 1:
        operacion = 'Seno'
        y = np.sin(x)
        result_df = pd.DataFrame({'x':x, 'y':y})
    elif func == 2:
        operacion = 'Coseno'
        y = np.cos(x)
        result_df = pd.DataFrame({'x':x, 'y':y})
    elif func == 3:
        operacion = 'Tangente'
        y = np.tan(x)
        result_df = pd.DataFrame({'x':x, 'y':y})    
    elif func == 4:
        operacion = 'Exponencial'
        y = np.exp(x)
        result_df = pd.DataFrame({'x':x, 'y':y})
    elif func == 5:
        operacion = 'Logaritmo natural'
        y = np.log(x)
        result_df = pd.DataFrame({'x':x, 'y':y})
    else:
        print('Opción no válida')
    print(f'Resultados de la función {operacion}.')
    print(result_df)
    return result_df, operacion

#### Explicación 1A
La funcion no recibe parámetros de entrada al momento de llamarla, si no que pregunta al usuario los datos de interés ya iniciada. Se le solicita al usuario el inicio y fin del rango de datos para la variable independiente (x) y la función matemática que se aplicará. Despues de esto, solo se verifica qué opción de operación escogió el usuario y se introduce el rango x a la función de numpy que hace esta operación. Al final se acomodan los datos en un DataFrame para su impresió. La funcion regresa en una tupla el dataframe con los resultados y el nombre de la función matemática que se aplicó.

- B. La función dos graficará con matplotlib el resultado de función anterior y la mostrará en pantalla. Recuerden poner los títulos ejes y demás configuraciones de las gráficas para que queden de la mejor manera posible.

In [ ]:
import matplotlib.pyplot as plt

def graficar_funcion(result_df):

    fig, ax = plt.subplots()
    ax.plot(result_df[0]['x'], result_df[0]['y'])

    ax.set(title=f'Gráfica de función {result_df[1]}',
           xlabel='X',
           ylabel='Y');

In [ ]:
graficar_funcion(calculo_funciones())

#### Explicación 1B
Conociendo lo básico de matplotlib resulta sencillo esta función, la cual toma como argumento la tupla que resulta de la función 1A. Se toma el dataframe y se grafican sus dos columnas. Seguido se pone el titulo usando el segundo elemento de la tupla y se etiquetan los ejes.

### Ejercicio 2
Escribir un programa para ver los beneficios de una empresa en un periodo de años.
El programa debe cumplir los siguientes requisitos:

    A. El programa tiene que preguntar al usuario por un año inicial y otro final, y después preguntar por los ingresos y egresos de cada año desde el año inicial hasta el año final.
        a. Debe garantizar que por lo menos haya 5 años entre el año inicial y el final.

    B. Con los datos introducidos se deben crear un dataframe, con las columnas fecha, ingresos y egresos.

    C. El programa debe generar otra columna con el beneficio de cada año (ingresos menos egresos) y mostrarla por pantalla.

    D. El programa debe crear otra columna llamada ganancia la cuál indique para cada año si ha habido beneficios o no de manera booleana y mostrarla por pantalla.
    
    E. Finalmente el programa debe mostrar por pantalla la lista de los años con pérdidas.

In [ ]:
import pandas as pd
# A. El programa tiene que preguntar al usuario por un año inicial y otro final, y después preguntar por los ingresos y egresos de cada año desde el año inicial hasta el año final.
#     a. Debe garantizar que por lo menos haya 5 años entre el año inicial y el final.

# Inicio seccion A
dif_años = 0
while dif_años < 5:
    año_i = int(input('¿Cuál es el año de inicio? '))
    año_f = int(input('¿Cuál es el año final? '))
    dif_años = año_f-año_i
    if dif_años < 5:
        print('Tiene que haber al menos 5 años entre el año de inicio y el final. Intente de nuevo.')
        
año_i_ingr = float(input('Ingresos del año inicial: '))
año_i_egr  = float(input('Egresos del año inicial: '))

año_f_ingr = float(input('Ingresos del año final: '))
año_f_egr  = float(input('Egresos del año final: '))
# Fin seccion A

#### Explicación 2A
Para poder con cumplir con la verificación de que la diferencia entre año final e inicial sea 5 o más, pongo un ciclo while, el cual solicitará el input de año inicial y final del usuario una y otra vez hasta que la diferencia no sea menor de 5. Después de esto, solo se solicita al usuario los ingresos y egresos de los años introducidos

In [ ]:
# B. Con los datos introducidos se deben crear un dataframe, con las columnas fecha, ingresos y egresos.
# Inicio seccion B
df_ing_egr = pd.DataFrame({'Fecha':[año_i,año_f], 'Ingresos':[año_i_ingr,año_f_ingr], 'Egresos':[año_i_egr,año_f_egr] })
df_ing_egr
# Fin seccion B

#### Explicación 2B
Esta sección solo se usa para crear el dataframe y mostrarlo. La creación del dataframe se hace organizando los datos del usuario en un diccionario dónde las llaves son los nombres de las columnas y los valores son los registros de dicha columna.

In [ ]:
# C. El programa debe generar otra columna con el beneficio de cada año (ingresos menos egresos) y mostrarla por pantalla.

# Inicio seccion C
df_ing_egr['Beneficio'] = df_ing_egr['Ingresos']-df_ing_egr['Egresos']
df_ing_egr
# Fin seccion C

#### Explicación 2C
En esta sección solo se agrega una columna llamada Beneficio y sus filas serán el resultado de la columna 'Ingresos' menos la columna 'Egresos'.

In [ ]:
# D. El programa debe crear otra columna llamada ganancia la cuál indique para cada año si ha 
#    habido beneficios o no de manera booleana y mostrarla por pantalla

# Inicio seccion D
df_ing_egr['Ganancia'] = df_ing_egr['Beneficio'] > 0
df_ing_egr
# Fin seccion D

#### Explicación 2D
De nuevo se agrega una columna llamada ganancia que mostrará True si el valor de la columna 'Beneficio' es mayor que cero. En caso contrario mostrará False (hubo pérdidas).

In [ ]:
# E. Finalmente el programa debe mostrar por pantalla la lista de los años con pérdidas.

# Inicio seccion E
años_df = df_ing_egr[['Fecha']]
años_df
años_df[~df_ing_egr['Ganancia']]
# Fin seccion E

#### Explicación 2E
Por último se tiene que mostrar los años que cuenten con pérdidas. Ya contamos con la columna ganancia que tiene valores True cuando hay ganancias y False cuando hay pérdidas, por lo se usa para filtrar los años con pérdidas usando un operador de negación que invierte los valores booleanos.

### Ejercicio 3
El fichero horas-trabajo.csv contiene el número de horas mensuales trabajadas por los empleados de una empresa durante el primer cuatrimestre. Crear un programa que realice las siguientes operaciones utilizando la librería Pandas:

In [ ]:
# A. Crea una columna con el número total de horas trabajadas para cada operador.
import pandas as pd
horas_trabajo_df = pd.read_csv('data//horas-trabajo.csv',sep=';')
horas_trabajo_df['Total de horas'] = horas_trabajo_df.fillna(0)['Enero'] + horas_trabajo_df.fillna(0)['Febrero']+ horas_trabajo_df.fillna(0)['Marzo'] + horas_trabajo_df.fillna(0)['Abril']
# horas_trabajo_df['Total de horas'] = horas_trabajo_df['Enero'] + horas_trabajo_df['Febrero']+ horas_trabajo_df['Marzo'] + horas_trabajo_df['Abril']

horas_trabajo_df

#### Explicación 3A
Se importa pandas y se carga el csv como dataframa, indicandole que el separador es ';'. Después de esto es necesario sumar las columnas de los meses que tienen las horas trabajadas para poder crear la columna de total. Al principio me mostró Nan en las filas donde habia al menos un Nan, esto lo solucioné aplicando fillna con valor de cero a los elementos que se sumarían, sin rellenar el dataframe original.

In [ ]:
# B. Muestra cual es el promedio de horas trabajadas en total en la empresa durante el mes Marzo
prom_marzo = horas_trabajo_df['Marzo'].mean()
print(f'Promedio de horas trabajadas en Marzo {prom_marzo}.')

#### Explicación 3B
Se selecciona la columna de Marzo y se le aplica mean(), que calcula el promedio de dicha columna y por defecto no toma en cuenta los valores nulos

In [ ]:
# C. Muestra cuántos operadores hay por cada departamento de la empresa.
# --------------------------------------------------------------

horas_trabajo_df.groupby('Departamento')['Id'].count()

In [ ]:
horas_trabajo_df.groupby('Departamento')['Id'].count().plot(kind='bar',figsize=(3,3),ylabel='No. de operadores');

#### Explicación 3C
Se usa groupby sobre la columna departamento para que agrupe los datos, después se le indica con corchetes la columna donde se aplicará la operación, que en este caso es contar (count()). Así se muestra los operadores por departamento.

Agregado .plot() se muestra esta información visualmente.

In [ ]:
# D. Muestra el número de empleados que han trabajado todos los meses, es decir, que tienen un número de horas todos los meses del cuatrimestre.
trabajadores_todos_meses = horas_trabajo_df.notna().all(axis=1).sum()
print(f'Número de empleados que han trabajado todos los meses: {trabajadores_todos_meses}.')

#### Explicación 3D
Primero, el método notna() crea un dataframe booleano con True dónde no haya NAN en el dataframe original. Luego, se utiliza el método all() para comprobar si todos los valores de cada fila del DataFrame booleano son True. Finalmente, se utiliza el método sum() para contar el número de filas donde todos los valores son True, lo que corresponde al número de filas sin valores NaN.

### Ejercicio 4
Crear un programa utilizando la librería Pandas y Matplotlib que realice lo siguiente:

In [ ]:
# A. Crear el siguiente DataFrame indexado:

#          Dia    Calorias    Tiempo
#         --------------------------
#         Lunes    420         60
#        Martes    380         40
#       Miercoles  390         75
#        Jueves    490         55
#        Viernes   300         45

import pandas as pd
df_calorias = pd.DataFrame({'Día':['Lunes','Martes','Miercoles','Jueves','Viernes'],
                            'Calorias': [420,380,390,490,300],
                            'Tiempo': [60,40,75,55,45]})
df_calorias

#### Explicación 4A
Para crear el DataFrame hay que importar pandas y a la función pd.DataFrame() pasarle un diccionario dónde las llaves son los nombres de las columnas y los valores serán los registros.

In [ ]:
# B. Calcular la media, mediana y desviación típica de ambas columnas.

print(f'Media, mediana y desviación típica de la columna Calorías: {df_calorias["Calorias"].mean()}, {df_calorias["Calorias"].median()} y {round(df_calorias["Calorias"].std(),2)}.')
print(f'Media, mediana y desviación típica de la columna Tiempo: {df_calorias["Tiempo"].mean()}, {df_calorias["Tiempo"].median()} y {round(df_calorias["Tiempo"].std(),2)}.')

#### Explicación 4B
Para este inciso solo se deben aplicar las funciones mean(), median() y std() a las columnas de interés.

In [ ]:
# C. Añadir otra columna booleana al DataFrame para ver si se ha cumplido el reto de quemar más de 400 calorías por hora. 
#    La nueva columna debe generarse aplicando una fórmula a las otras columnas. 
df_calorias['Reto cumplido'] = ( df_calorias['Calorias'] / (df_calorias['Tiempo']/60) ) > 400
df_calorias

#### Explicación 4C
Primero es necesario calcular cuántas calorías se quemaron por hora, por lo que se divide la columna Calorias entre la columna Tiempo ya convertida en horas, porque el tiempo esta dado en minutos. Después se compara para ver si estos resultados son mayores que 400, en caso de serlo mostrará True para esa fila. Esta columna booleana se agrega al dataframe con el nombre de 'Reto cumplido'.

In [ ]:
# D. Filtrar el DataFrame y devolver otro DataFrame con las filas pares que cumplan que el número de calorías es mayor de 400.

filas_pares = df_calorias.loc[range(0,len(df_calorias),2)]
filas_pares_400 = filas_pares[filas_pares['Calorias']>400]
filas_pares_400

#### Explicación 4D
Comienzo filtrando las filas pares (0,2 y 4) y guardando este dataframe en filas_pares. Después creo el dataframe filas_pares_400 removiendo de filas_pares las filas que no tengan más de 400 calorias en la columna de Calorías. Podemos ver que solo la fila 0 es fila par con valor de calorías mayor de 400.

In [ ]:
# E. Añadir otra columna con los porcentajes de días que se ha conseguido el reto y los que no.
# Slack Caro: porcentaje es que tanto lo cumplio si cumplio la mitad de las calorias seria 50 , si cumplio todas seria 100 y si cumplio mas el valor sera mayor a 100

df_calorias['Porcentaje de reto']= round((( df_calorias['Calorias'] / (df_calorias['Tiempo']/60) ) / 400 ) * 100,2)
df_calorias

#### Explicación 4E
El reto es quemar más de 400 calorias por hora, entonces se calcula de nuevo cuántas calorías por hora se quemaron cada día , se divide entre 400 y se multiplica por 100 para obtener el porcentaje de cumplimiento del reto.

In [ ]:
# F. Crear un gráfico donde se  muestre la progresión de las calorías y tiempo durante la semana.

fig, ax = plt.subplots(nrows=2,ncols=1,figsize=(10,5))
ax[0].plot(df_calorias['Día'],df_calorias['Calorias'])
ax[0].set(ylabel='Calorías')
ax[0].grid()
ax[1].plot(df_calorias['Día'],df_calorias['Tiempo'],color='r')
ax[1].set(ylabel='Minutos');
ax[1].grid()

#### Explicación 4F
Se grafica a modo de subplots las progresiones de calorías y minutos para tener separados los valores que manejan diferentes unidades y escalas

### Ejercicio 5
El fichero coches.csv contiene información sobre los modelos de coches vendidos en USA durante un determinado año. Se pide:

In [ ]:
# A. Crear un DataFrame a partir del fichero anterior.
import pandas as pd
coches_df = pd.read_csv('data//coches.csv',sep=';')
coches_df

#### Explicación 5A
Se importa pandas y se carga el archivo desde la carpeta local, el separador es ';'.

In [ ]:
# B. Eliminar las filas con valores desconocidos y mostrar el número de filas del DataFrame resultante.
coches_df_nonan = coches_df.dropna()
print(f'Número de filas después de quitar valores nulos: {len(coches_df_nonan)}.')

#### Explicación 5B
Se usa dropna() para quitar las filas que contengan valores nulos y se guarda en una nueva variable.

In [ ]:
# C. Crear una columna con el precio en euros (cambio 1$ = 0.94€)
coches_df_nonan['Precio €'] = coches_df_nonan['Precio'] * 0.94
coches_df_nonan.head()

#### Explicación 5C
Para crear esta nueva columna solo se multiplica la columna actual con el Precio por el factor de conversión 0.94 .

In [ ]:
# D. Mostrar las 10 últimas filas del DataFrame.
coches_df_nonan.tail(10)

#### Explicación 5D
Con la funcion tail() y agregando el valor 10 podemos ver las últimas 10 filas del dataframe.

In [ ]:
# E. Mostrar el número de marcas de coches que contiene el DataFrame.
marcas=coches_df_nonan['Marca'].unique()

print(f'Número de marcas en el dataframe: {len(marcas)}.')

#### Explicación 5E
Con la función unique() podemos obtener un array que contiene todas las marcas en la columna 'Marca'. Después se usa la función len() para conocer la cantidad de elementos de este array.

In [ ]:
# F. Mostrar el número de modelos de cada marca que hay en el DataFrame, de mayor a menor frecuencia.
coches_df_nonan.groupby('Marca')['Modelo'].nunique().sort_values(ascending=False)

#### Explicación 5F
Para esta sección hay que agrupar por marca primero, seguido seleccionar la columna Modelo, el metodo nunique() regresa el número de valores únicos por fila. Con sort_values() se ordena de forma descendente los datos.

In [ ]:
# G. Mostrar cuál es la marca y el modelo del coche más caro.
coches_df_nonan[coches_df_nonan['Precio']==coches_df_nonan['Precio'].max()]

#### Explicación 5G
Con la funcion max() se obtiene el valor mayor en la columna de Precio, después se hace una comparación booleana con toda la columna Precio para encontrar la fila del valor máximo.

In [ ]:
# H. Mostrar el precio medio en euros de los coches agrupando por marca y 
#    ordenando de menor a mayor precio.
coches_df_nonan.groupby('Marca')['Precio €'].mean().sort_values(ascending=True)

#### Explicación 5H
Primero agrupamos por marca, seleccionamos la columna 'Precio €' y le aplicamos la operación de promedio. Con ayuda de sort_values ordenamos de menor a mayor.

In [ ]:
# I. Grafica el diagrama de barras del porcentaje de modelos de cada marca. (?)
porcentaje_modelos = ( coches_df_nonan.groupby('Marca')['Modelo'].nunique() / coches_df_nonan.groupby('Marca')['Modelo'].nunique().sum() )*100
porcentaje_modelos.sort_values().plot(kind='bar',ylabel='Porcentaje')
plt.grid()

#### Explicación 5I
Para graficar el "el porcentaje de modelos de cada marca" en un diagrama de barras, primero obtuve el número de modelos que tiene cada marca en este dataframe, cada uno de estos valores se dividen entre el total de modelos y se multiplica por 100. Por ultimo se ordenaron los valores de forma ascendente. Con esto se muestra en una gráfica de barras, del total de modelos que hay en el dataframe, qué porcentaje le pertenece a cada marca.

In [ ]:
# J. Gráfica el diagrama de dispersión de la potencia y el precio.
coches_df_nonan.plot(kind='scatter',x='Potencia',y='Precio',title='Potencia vs. Precio');

#### Explicación 5J
De forma sencilla podemos hacer esta gráfica, solo agregando .plot al dataframe y especificando las columnas a usar como ejes.