# Clase 4 Fundamentos de Python

## Ejercicio 1
Escribir una función que reciba otra función numerica de transformacion y una lista de numeros, y devuelva otra lista con el resultado de aplicar la función dada a cada uno de los elementos de la lista.

- def aplicar_funcion(funcion_A,lista) : 
    return lista_nueva
 
- def funcion_A(numero) : 
    return calculo
 
- def funcion_B(numero) : 
    return calculo

In [1]:
def al_cubo(nume):
    res = nume **3
    return res

def mas_uno(numi):
    ru = numi + 1
    return ru

def dame(funcion,lista):
    ux = []
    for t in lista:
        ux.append(funcion(t))
    return ux

nums=[1,2,3]

print(dame(mas_uno,nums))
print(dame(al_cubo,nums))

[2, 3, 4]
[1, 8, 27]

In [ ]:
nums = [1,2,3]

def funcion_A(num):
  return num * num * num

def funcion_B(num):
  return num + 100

def aplicar_funcion(funcion_A,nums):
  new_list = []
  for num in nums:
    new_list.append(funcion_A(num))
  return new_list

print(aplicar_funcion(funcion_A,nums))
print(aplicar_funcion(funcion_B,nums))

In [2]:
def cuadrado(numero):
    return numero ** 2

def factorial(numero):
    resultado = 1
    for numero in range(2, numero + 1):
        resultado *= numero
    return resultado

def aplicar_funcion(funcion, lista):
    nueva_lista = []
    for num in lista:
        num_temp = funcion(num)
        nueva_lista.append(num_temp)
    return nueva_lista

nums=[1,2,3]

print(aplicar_funcion(factorial,nums))
print(aplicar_funcion(cuadrado,nums))

[1, 2, 6]
[1, 4, 9]

In [3]:
def aplicar_funcion(funcion, lista):
    nueva_lista=[]
    for num in lista:
        nueva_lista.append(funcion(num))
    
    return nueva_lista

def funcion_A(numero):
    return numero**2

def funcion_B(numero):
    return numero*2


mi_lista=[1,2,3,4,5]
print(aplicar_funcion(funcion_A,mi_lista))
print(aplicar_funcion(funcion_B,mi_lista))

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]

In [62]:
from math import sqrt

def raizcuadrada(numero):
  calculo = sqrt(numero)
  return calculo

def cuadrado(numero):
  calculo = numero ** 2
  return calculo

def aplicar_funcion(funcion_A, lista):
  nueva_lista = []
  for elemento in lista:
    nueva_lista.append(funcion_A(elemento))
  return nueva_lista

long_lista = int(input('Longitud de la lista: '))
lista_usr = []

while long_lista > 0:
  lista_usr.append(int(input('Escribe un numero: ')))
  long_lista -= 1

print(aplicar_funcion(cuadrado,lista_usr))

Longitud de la lista: 3
Escribe un numero: 1
Escribe un numero: 2
Escribe un numero: 3
[1, 2, 3]
[1, 4, 9]

In [ ]:
def aplica_funcion_lista(funcion, lista):
    new_list = []
    for i in lista:
        new_list.append(funcion(i))
    return new_list

def cuadrado(n):
    return n * n

def mas_uno(n):
    return n+1

def mas_cuatro(n):
    return n+4


print(aplica_funcion_lista(cuadrado, [1, 2, 3, 4]))
print(aplica_funcion_lista(mas_uno, [1, 2, 3, 4]))
print(aplica_funcion_lista(mas_cuatro, [1, 2, 3, 4]))

## Ejercicio 2

Escribir una función que reciba una frase y devuelva un diccionario con las palabras que contiene y su longitud.

Diccionario={
    "Welcome": 7,
    "to":2,...
}

In [10]:
frase_2 = "Welcome to the jungle . Watch it bring you to your knees, knees. Oh, I wanna watch you bleed"

In [ ]:
#  {
#    "Welcome": 7,
#    "to":2,
#  }

In [4]:
texto = input('Escribe un texto')

temp = texto.split(' ')
count=0
dic ={}
for palabra in temp:
    dic[count]=palabra
    count+=1
    
print(dic)

Escribe un textoWelcome to the jungle . Watch it bring you to your knees , knees . Oh, I wanna watch you bleed
{0: 'Welcome', 1: 'to', 2: 'the', 3: 'jungle', 4: '.', 5: 'Watch', 6: 'it', 7: 'bring', 8: 'you', 9: 'to', 10: 'your', 11: 'knees', 12: ',', 13: 'knees', 14: '.', 15: 'Oh,', 16: 'I', 17: 'wanna', 18: 'watch', 19: 'you', 20: 'bleed'}

In [11]:
def frase(cadena):
    lista = cadena.split(" ")
    diccionario = {}
    for elemento in lista:
        cantidad_temp = len(elemento)
        diccionario[elemento] = cantidad_temp
    return diccionario

print(frase(frase_2))

{'Welcome': 7, 'to': 2, 'the': 3, 'jungle': 6, '.': 1, 'Watch': 5, 'it': 2, 'bring': 5, 'you': 3, 'your': 4, 'knees,': 6, 'knees.': 6, 'Oh,': 3, 'I': 1, 'wanna': 5, 'watch': 5, 'bleed': 5}

In [13]:
texto = frase_2

temp = texto.split(' ')
count=0
dic ={}
for palabra in temp:
    dic[palabra]=len(palabra)
    count+=1
dic

{'Welcome': 7,
 'to': 2,
 'the': 3,
 'jungle': 6,
 '.': 1,
 'Watch': 5,
 'it': 2,
 'bring': 5,
 'you': 3,
 'your': 4,
 'knees,': 6,
 'knees.': 6,
 'Oh,': 3,
 'I': 1,
 'wanna': 5,
 'watch': 5,
 'bleed': 5}

In [14]:
def palabras_longitud(frase):
    palabras = frase.split()
    diccionario = {}
    for palabra in palabras:
        longitud = len(palabra)
        if palabra not in diccionario:
            diccionario[palabra] = longitud
    return diccionario
frase = "Cuando calienta el sol, aqui en la playaaaa"
resultado = palabras_longitud(frase)
print(resultado)

{'Cuando': 6, 'calienta': 8, 'el': 2, 'sol,': 4, 'aqui': 4, 'en': 2, 'la': 2, 'playaaaa': 8}

In [66]:
frase = "Welcome to the jungle.Watch it bring you to your knees,knees.Oh,I wanna watch you bleed"
frase = frase.lower().replace('.',' ').replace(',',' ')
print(frase)
print(frase.split())

welcome to the jungle watch it bring you to your knees knees oh i wanna watch you bleed
['welcome', 'to', 'the', 'jungle', 'watch', 'it', 'bring', 'you', 'to', 'your', 'knees', 'knees', 'oh', 'i', 'wanna', 'watch', 'you', 'bleed']

In [65]:
# Crea un diccionario con la llave igual a la palabra
# y el valor igual al numero de letras que tiene la palabra
def dic_len_words(sentence):
    return {word:len(word) for word in sentence.split()}

print(dic_len_words(frase))

{'welcome': 7, 'to': 2, 'the': 3, 'jungle': 6, 'watch': 5, 'it': 2, 'bring': 5, 'you': 3, 'your': 4, 'knees': 5, 'oh': 2, 'i': 1, 'wanna': 5, 'bleed': 5}

In [64]:
# Crea una lista con una tupla confomada por 
# la palabra y el numero de letras que tiene la palabra
def list_len_words(sentence):
    return [(word,len(word)) for word in sentence.split()]

print(list_len_words(frase))

[('welcome', 7), ('to', 2), ('the', 3), ('jungle', 6), ('watch', 5), ('it', 2), ('bring', 5), ('you', 3), ('to', 2), ('your', 4), ('knees', 5), ('knees', 5), ('oh', 2), ('i', 1), ('wanna', 5), ('watch', 5), ('you', 3), ('bleed', 5)]

## Manejo de Archivos

In [18]:
folder = '/Users/anacaros/Aletia/cursos/python_fundamentals/clase4_data/'

### Archivos de texto

In [21]:
#archivo-salida.py
file_name = 'HolaMundo.txt'
f = open (folder+file_name,'w') #solo escritura, si el archivo existe sobrecribe su contenido
f.write('Adios Mundo')
f.close()

In [22]:
# archivo-entrada.py
f = open (folder+file_name,'r') # solo lectura
mensaje = f.read()
print(mensaje)
f.close()

Adios Mundo

In [23]:
# archivo-apendice.py
f = open(folder+file_name,'a') # Permite agregar nueva informacion al archivo
f.write('!!!\n' + 'Hola Python')
f.close()

In [24]:
with open(folder+file_name) as archivo:
    for linea in archivo:
        print(linea)

Adios Mundo!!!

Hola Python

In [32]:
filename = "app.txt"
data = ["You\n", "are\n", "Wizard\n", "Harry ", "Potter !!\n"]
fl = open(folder+filename, "w")
fl.writelines(data)
fl.close()

In [33]:
# Using readlines()

fl = open(folder+filename, "r")
lines = fl.readlines()

count = 0
# Strips the newline character
for line in lines:
  count += 1
  print("Line{}: {}".format(count, line.strip()))

Line1: You
Line2: are
Line3: Wizard
Line4: Harry Potter !!

##### Ejemplo
Escribir una funcion que acceda a un fichero TXT y muestre por pantalla el número de palabras que contiene.

In [34]:
filename = "app.txt"

def open_txt(filename,folder):
    try:
        f = open(folder+filename, "r")
        texto = f.read()
        return texto
    except:
        print(f"El archivo {filename} no puede ser leido o no se encuentra.")
        return ""

def contar_palabras(texto):
    palabras = texto.split()
    return len(palabras)

In [37]:
documento = open_txt(filename,folder)
print(documento.split())
print(contar_palabras(documento))

['You', 'are', 'Wizard', 'Harry', 'Potter', '!!']
6

### ARCHIVOS CSV

In [39]:
import csv
filename = "cotizacion.csv"
with open(folder+filename, newline="") as csvfile:
    reader = csv.reader(csvfile, delimiter=";")
    for row in reader:
        print(row)

['Nombre', 'Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo']
['ACCIONA', '95,95', '96,75', '94,4', '84.962', '8166,11']
['ACERINOX', '8668', '8672', '8468', '885.99', '7633,81']
['ACS', '37,28', '37,66', '37,22', '655.982', '24517,29']
['AENA', '167,1', '167,5', '166,1', '133.738', '22336,10']
['AMADEUS', '69,96', '70,64', '69,56', '640.476', '44795,47']
['ARCELORMIT.', '14152', '14318', '14,08', '702.841', '9989,65']
['BA.SABADELL', '1,0165', '1033', '1,0165', '12.358.512', '12637,65']
['BA.SANTANDER', '4,02', '4,0675', '4,01', '36.129.692', '145765,44']
['BANKIA', '2249', '2262', '2224', '3.024.454', '6803,54']
['BANKINTER', '6,56', '6604', '6522', '1.375.976', '9030,20']
['BBVA', '5024', '5,05', '4969', '26.447.612', '132560,15']
['CAIXABANK', '2763', '2806', '2762', '13.031.097', '36239,22']
['CELLNEX', '30,17', '30,7', '30,17', '857.237', '25965,29']
['CIE AUTOMOT.', '23,44', '23,74', '23,4', '99.506', '2343,09']
['ENAGAS', '25,6', '25,66', '25,07', '842.54', '21524,77']
['ENCE', '3882', '3974', '3846', '2.099.698', '8219,83']
['ENDESA', '22,95', '23,03', '22,62', '1.236.799', '28233,46']
['FERROVIAL', '21,61', '21,72', '21,38', '2.065.931', '44656,05']
['GRIFOLS CL.A', '23,3', '23,6', '23,27', '719.503', '16787,55']
['IAG', '5,3', '5,46', '5292', '2.155.081', '11561,95']
['IBERDROLA', '8,45', '8,45', '8262', '15.637.958', '131426,05']
['INDITEX', '24,93', '25,19', '24,87', '2.600.144', '65012,92']
['INDRA A', '9,56', '9685', '9535', '392.06', '3755,57']
['INM.COLONIAL', '9915', '9915', '9745', '671.753', '6640,38']
['MAPFRE', '2654', '2654', '2,62', '3.045.972', '8063,13']
['MEDIASET', '6446', '6592', '6446', '2.647.557', '17277,04']
['MELIA HOTELS', '8,14', '8,19', '8,02', '480.21', '3914,93']
['MERLIN', '12,08', '12,08', '11,83', '777.543', '9357,77']
['NATURGY', '26,7', '26,77', '26,53', '2.100.737', '55986,54']
['R.E.C.', '19705', '19875', '19675', '1.246.171', '24585,33']
['REPSOL', '14515', '14605', '14,46', '5.046.648', '73333,78']
['SIEMENS GAME', '14,33', '14,39', '14155', '1.054.847', '15084,56']
['TEC.REUNIDAS', '23', '23,2', '22,78', '122.1', '2807,19']
['TELEFONICA', '7204', '7256', '7185', '9.913.249', '71564,99']
['VISCOFAN', '48,46', '49,12', '48,46', '67.71', '3295,43']

In [40]:
import pandas as pd

data=pd.read_csv(folder+filename)
data

                                                                                                                      Nombre;Final;Máximo;Mínimo;Volumen;Efectivo
ACCIONA;95                                95;96                       75;94                     4;84.962;8166                                                11.0
ACERINOX;8668;8672;8468;885.99;7633       81                          NaN                       NaN                                                           NaN
ACS;37                                    28;37                       66;37                     22;655.982;24517                                             29.0
AENA;167                                  1;167                       5;166                     1;133.738;22336                                              10.0
AMADEUS;69                                96;70                       64;69                     56;640.476;44795                                             47.0
ARCELORMIT.;14152;14318;14                08;702.841;9989             65                        NaN                                                           NaN
BA.SABADELL;1                             0165;1033;1                 0165;12.358.512;12637     65                                                            NaN
BA.SANTANDER;4                            02;4                        0675;4                    01;36.129.692;145765                                         44.0
BANKIA;2249;2262;2224;3.024.454;6803      54                          NaN                       NaN                                                           NaN
BANKINTER;6                               56;6604;6522;1.375.976;9030 20                        NaN                                                           NaN
BBVA;5024;5                               05;4969;26.447.612;132560   15                        NaN                                                           NaN
CAIXABANK;2763;2806;2762;13.031.097;36239 22                          NaN                       NaN                                                           NaN
CELLNEX;30                                17;30                       7;30                      17;857.237;25965                                             29.0
CIE AUTOMOT.;23                           44;23                       74;23                     4;99.506;2343                                                 9.0
ENAGAS;25                                 6;25                        66;25                     07;842.54;21524                                              77.0
ENCE;3882;3974;3846;2.099.698;8219        83                          NaN                       NaN                                                           NaN
ENDESA;22                                 95;23                       03;22                     62;1.236.799;28233                                           46.0
FERROVIAL;21                              61;21                       72;21                     38;2.065.931;44656                                            5.0
GRIFOLS CL.A;23                           3;23                        6;23                      27;719.503;16787                                             55.0
IAG;5                                     3;5                         46;5292;2.155.081;11561   95                                                            NaN
IBERDROLA;8                               45;8                        45;8262;15.637.958;131426 05                                                            NaN
INDITEX;24                                93;25                       19;24                     87;2.600.144;65012                                           92.0
INDRA A;9                                 56;9685;9535;392.06;3755    57                        NaN                                                           NaN
INM.COLONIAL;9915;9915;9745;671.753;6640  38                          NaN                       NaN                                                           NaN
MAPFRE;2654;2654;2                        62;3.045.972;8063           13                        NaN                                                           NaN
MEDIASET;6446;6592;6446;2.647.557;17277   04                          NaN                       NaN                                                           NaN
MELIA HOTELS;8                            14;8                        19;8                      02;480.21;3914                                               93.0
MERLIN;12                                 08;12                       08;11                     83;777.543;9357                                              77.0
NATURGY;26                                7;26                        77;26                     53;2.100.737;55986                                           54.0
R.E.C.;19705;19875;19675;1.246.171;24585  33                          NaN                       NaN                                                           NaN
REPSOL;14515;14605;14                     46;5.046.648;73333          78                        NaN                                                           NaN
SIEMENS GAME;14                           33;14                       39;14155;1.054.847;15084  56                                                            NaN
TEC.REUNIDAS;23;23                        2;22                        78;122.1;2807             19                                                            NaN
TELEFONICA;7204;7256;7185;9.913.249;71564 99                          NaN                       NaN                                                           NaN
VISCOFAN;48                               46;49                       12;48                     46;67.71;3295                                                43.0

In [44]:
data=pd.read_csv(folder+filename,sep=';')
print(data)

          Nombre   Final  Máximo  Mínimo     Volumen   Efectivo
0        ACCIONA   95,95   96,75    94,4      84.962    8166,11
1       ACERINOX    8668    8672    8468      885.99    7633,81
2            ACS   37,28   37,66   37,22     655.982   24517,29
3           AENA   167,1   167,5   166,1     133.738   22336,10
4        AMADEUS   69,96   70,64   69,56     640.476   44795,47
5    ARCELORMIT.   14152   14318   14,08     702.841    9989,65
6    BA.SABADELL  1,0165    1033  1,0165  12.358.512   12637,65
7   BA.SANTANDER    4,02  4,0675    4,01  36.129.692  145765,44
8         BANKIA    2249    2262    2224   3.024.454    6803,54
9      BANKINTER    6,56    6604    6522   1.375.976    9030,20
10          BBVA    5024    5,05    4969  26.447.612  132560,15
11     CAIXABANK    2763    2806    2762  13.031.097   36239,22
12       CELLNEX   30,17    30,7   30,17     857.237   25965,29
13  CIE AUTOMOT.   23,44   23,74    23,4      99.506    2343,09
14        ENAGAS    25,6   25,66   25,07      842.54   21524,77
15          ENCE    3882    3974    3846   2.099.698    8219,83
16        ENDESA   22,95   23,03   22,62   1.236.799   28233,46
17     FERROVIAL   21,61   21,72   21,38   2.065.931   44656,05
18  GRIFOLS CL.A    23,3    23,6   23,27     719.503   16787,55
19           IAG     5,3    5,46    5292   2.155.081   11561,95
20     IBERDROLA    8,45    8,45    8262  15.637.958  131426,05
21       INDITEX   24,93   25,19   24,87   2.600.144   65012,92
22       INDRA A    9,56    9685    9535      392.06    3755,57
23  INM.COLONIAL    9915    9915    9745     671.753    6640,38
24        MAPFRE    2654    2654    2,62   3.045.972    8063,13
25      MEDIASET    6446    6592    6446   2.647.557   17277,04
26  MELIA HOTELS    8,14    8,19    8,02      480.21    3914,93
27        MERLIN   12,08   12,08   11,83     777.543    9357,77
28       NATURGY    26,7   26,77   26,53   2.100.737   55986,54
29        R.E.C.   19705   19875   19675   1.246.171   24585,33
30        REPSOL   14515   14605   14,46   5.046.648   73333,78
31  SIEMENS GAME   14,33   14,39   14155   1.054.847   15084,56
32  TEC.REUNIDAS      23    23,2   22,78       122.1    2807,19
33    TELEFONICA    7204    7256    7185   9.913.249   71564,99
34      VISCOFAN   48,46   49,12   48,46       67.71    3295,43

In [ ]:
! pip install xlwt openpyxl xlsxwriter xlrd

In [45]:
filename = 'cotizaciones.xlsx'
data.to_excel(folder+filename)

### ARCHIVOS JSON

In [51]:
import json

data = {}
data['clients'] = []

data['clients'].append({
    'first_name': 'Sigrid',
    'last_name': 'Mannock',
    'age': 27,
    'amount': 7.17})

data['clients'].append({
    'first_name': 'Joe',
    'last_name': 'Hinners',
    'age': 31,
    'amount': [1.90, 5.50]})

data['clients'].append({
    'first_name': 'Theodoric',
    'last_name': 'Rivers',
    'age': 36,
    'amount': 1.11})
data

{'clients': [{'first_name': 'Sigrid',
   'last_name': 'Mannock',
   'age': 27,
   'amount': 7.17},
  {'first_name': 'Joe',
   'last_name': 'Hinners',
   'age': 31,
   'amount': [1.9, 5.5]},
  {'first_name': 'Theodoric',
   'last_name': 'Rivers',
   'age': 36,
   'amount': 1.11}]}

In [52]:
filename = 'data.json'
with open(folder+filename, 'w') as file:
    json.dump(data, file, indent=4)

In [53]:
with open(folder+filename) as file:
    data = json.load(file)
    for client in data['clients']:
        print('First name:', client['first_name'])
        print('Last name:', client['last_name'])
        print('Age:', client['age'])
        print('Amount:', client['amount'])
        print('')

First name: Sigrid
Last name: Mannock
Age: 27
Amount: 7.17

First name: Joe
Last name: Hinners
Age: 31
Amount: [1.9, 5.5]

First name: Theodoric
Last name: Rivers
Age: 36
Amount: 1.11

### Ejercicio 1

Escribir una función que pida un número entero entre 1 y 10 y guarde en un fichero con el nombre `tabla-n.txt` la tabla de multiplicar de ese número, done `n` es el número introducido.

In [ ]:
1 x 1 = 1
1 x 2 = 2

In [54]:
valor = int(input('tecle el numero'))

if 1<=valor<=10:
    with open(f'tabla-{valor}.txt','w') as arch: 
        for num in range(1,11):
            arch.writelines(f'{num} X {valor}={num*valor}\n')

else:
    print(' el valor no esta permitido')

tecle el numero1

In [56]:
n = int(input('Introduce un número entero entre 1 y 10: '))
nombre_fichero = 'tabla-' + str(n) + '.txt'
f = open(nombre_fichero, 'w')
for i in range(1, 11):
    f.write(str(n) + ' x ' + str(i) + ' = ' + str(n * i) + '\n')
f.close()

Introduce un número entero entre 1 y 10: 2

In [57]:
n = int(input('Introduce un número entero entre 1 y 10: '))
nombre_fichero = 'tabla-' + str(n) + '.txt'
f = open(folder+nombre_fichero, 'w')
for i in range(1, 11):
    texto = str(n) + ' x ' + str(i) + ' = ' + str(n * i) + '\n'
    print(texto)
    f.write(texto)
f.close()

Introduce un número entero entre 1 y 10: 6
6 x 1 = 6

6 x 2 = 12

6 x 3 = 18

6 x 4 = 24

6 x 5 = 30

6 x 6 = 36

6 x 7 = 42

6 x 8 = 48

6 x 9 = 54

6 x 10 = 60

### Ejercicio 2
Escribir una función que pida dos números n y m entre 1 y 10, lea el fichero tabla-n.txt con la tabla de multiplicar de ese número, y muestre por pantalla la línea m del fichero. Si el fichero no existe debe mostrar un mensaje por pantalla informando de ello.

In [59]:
n = int(input('Introduce un número entero entre 1 y 10: '))
m = int(input('Introduce otro número entero entre 1 y 10: '))
nombre_fichero = 'tabla-' + str(n) + '.txt'
try: 
    with open(nombre_fichero, 'r') as f:
        lineas = f.readlines()
    print(lineas[m - 1])
except FileNotFoundError:
    print('No existe el fichero con la tabla del ', n)

Introduce un número entero entre 1 y 10: 1
Introduce otro número entero entre 1 y 10: 6
6 X 1=6