# CLASE 2

## Ciclos

In [ ]:
for i in range(5,9):
    print(i)

In [ ]:
for i in range(3):
    print(i)

In [ ]:
numero = 5
while numero <= 10:
    print(numero)
    numero += 1 #     numero = numero + 1

### Ejercicio 1

Escribir un programa que pregunte al usuario su edad y muestre por pantalla todos los años que ha cumplido (desde 1 hasta su edad).

In [ ]:
edad=int(input('Ingresa tu edad'))
i=1;
while i<= edad:
  print(i)
  i+=1

In [ ]:
edad = int(input())
for i in range(1,edad + 1) :
    print(i)

In [ ]:
edad = int(input("escribe tu edad:"))
anio = 2023 - edad

for i in range (anio , 2024):
                  print(anio)
                  anio += 1

In [ ]:
edad = input()
anno = 2023
edad = int(edad)
while edad >= 1:
    print('anno', anno)
    anno = anno -1
    edad = edad -1

In [ ]:
edad = input("ingresa tu edad: ")
edad = int(edad)
years = (range(0,edad))
calendar_year = 2023


for year in years:
  print (calendar_year - year)

## DECLARACIONES DE CONTROL

In [ ]:
def mi_funcion():
    pass

In [ ]:
for i in range(1, 21):
    if i % 3 == 0:
        continue
    print(i)

In [ ]:
for i in range(1, 21):
    if i % 3 == 0:
        break
    print(i)

In [ ]:
while True:
    respuesta = input("Ingrese 'q' para salir: ")
    if respuesta == 'q':
        break
print("Saliendo del bucle")

In [ ]:
for num in range(1,20):
    print("Primero del for = ",num)
    if(num < 5 and num > 3):
        print("          Dentro del if = ",num)
        continue
    elif(num > 8):
        break
    print("Ultimo del for = ",num)
    print("--------------------------------------")

### Ejercicio 2
Escribir un programa que almacene la cadena de caracteres contraseña en una variable, pregunte al usuario por la contraseña hasta que introduzca la contraseña correcta.

In [ ]:
password='holA123?'
while True:
  password_try=str(input('Ingresa tu contraseña: '))
  if(password_try== password):
    print('Contraseña correcta')
    break
  else:
    print('Contraseña incorrecta')

In [ ]:
password = "qaz131$"
while True:
    input_password = input ("Ingresa el password:")
    if input_password == password:
        print("Password correcto")
        break
    else:
        print("Password incorrecto. Intenta de nuevo.")

In [ ]:
clave= "hola"
contrasena= input("digite su contrasena\n")
while contrasena != clave:
    print("contrasena incorrecta\n")
    contrasena=input("digite su contrasena\n")
print("Acceso")

In [ ]:
contra="Hola mundo"
while True:
  cusuario=input("Ingresa tu contraseña: ")
  if contra == cusuario:
    break
print("Contraseña correcta")

In [ ]:
contraseña = "hola123"

while True:
    password =  input("Ingresa tu contraseña")
    if (password != contraseña):
        print("Contraseña incorrecta")
    else:
        print("contraseña correcta")
        break

In [ ]:
autenticado = False
realpass = "123"
while autenticado == False:
    contraseña = input("Introduzca la contraseña : ")
    if contraseña == realpass:
        autenticado = True
        print("Contraseña correcta \nBienvenido!!!")

In [ ]:
password = 'pass'
contraseña=''
while password != contraseña:
    contraseña = input('Escribe la contraseña: ')
    if password == contraseña:
        break
    else:
        print("esa no es la contraseña")

print("Acceso correcto")

## ESTRUCTURAS DE DATOS
### Listas

In [ ]:
calificaciones = [10,9,8,7.5,9]
type(calificaciones)

In [ ]:
nombres = ["Ana","Juan","Sofía","Pablo","Tania"]
type(nombres)

In [ ]:
list_mix = [True, "Pablo", 7]
type(list_mix)

In [ ]:
len(list_mix)

In [ ]:
list_mix[2]

In [ ]:
nombre = list_mix[1]
nombre

In [ ]:
activo,nombre,calificacion=list_mix

In [ ]:
activo

In [ ]:
activo = False
list_mix

In [ ]:
nombre

In [ ]:
calificacion

In [ ]:
list_mix[2]=9
list_mix

In [ ]:
# Recuerden que no pueden asignar un nuevo parametro fuera del indice inicial,
# deben utilizar una funion para agregar, eliminar o cambiar datos en las listas
list_mix[4]='nuevo parametro'

In [ ]:
list_mix

In [ ]:
list_mix.append('nuevo parametro')
list_mix

In [ ]:
list_mix.insert(0,"nuevo elemento")
list_mix

In [ ]:
activo,nombre,calificacion=list_mix

In [ ]:
activo,nombre,calificacion,param4,param5=list_mix

In [ ]:
activo

In [ ]:
nueva_lista=nombres
nueva_lista.extend(calificaciones)

In [ ]:
nueva_lista

In [ ]:
nombres

In [ ]:
calificaciones

### Ejercicio 3
Escribir un programa que almacene el abecedario en una lista, elimine de la lista las letras que ocupen posiciones múltiplos de 3, y muestre por pantalla la lista resultante.

In [ ]:
import string
print(string.ascii_lowercase)

In [ ]:
for i in enumerate(string.ascii_lowercase):
    print(i)

In [ ]:
abc = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','ñ','o','p','q','r','s','t','u','v','w','x','y','z']

for letra in range(len(abc)):

    if letra > 0 and letra % 3 == 0:
        abc.remove(letra)
        continue
    else:
        break

print(abc)

In [ ]:
import string

abc = string.ascii_lowercase
listaABC =[]
for letra in abc:
    listaABC.append(letra)
nuevaLista =[]
i=1
while i < len(listaABC):
    if i%3 > 0 or i==0:
        nuevaLista.append(listaABC[i-1])
    i = i+1
print(nuevaLista)

In [ ]:
abc_string='abcdefghijklmnopqrstuvwxyz'
abecedario=[]
for i, letra in enumerate(abc_string):
  if (i+1)%3!=0 or i==0:
    abecedario.append(letra)
print(abecedario)

In [ ]:
abc_string= 'abcdefghijklmnopqrstuvwxyz'
abecedario=[]
for i, letra in enumerate(abc_string):
  if i%3!=2:
    abecedario.append(letra)
print(abecedario)

In [ ]:

abc = list(string.ascii_lowercase)
abc_new = []
abc_new_3 = []
for i in range(1,len(abc)+1):
    if i%3 != 0:
        abc_new.append(abc[i-1])
    else:
        abc_new_3.append(abc[i-1])
print(abc_new)
print(abc_new_3)

### Tuplas

In [ ]:
calificaciones = (10,9,8,7.5,9)
nombres = ("Ana","Juan","Sofía","Pablo","Tania")
tuple_mix = (True, "Pablo", "7")

In [ ]:
type(tuple_mix)

In [ ]:
len(tuple_mix)

In [ ]:
activo,nombre,calificacion=tuple_mix

In [ ]:
activo,nombre,calificacion

In [ ]:
tuple_mix[2]=9
tuple_mix

### Conjuntos
<img src = "https://miro.medium.com/max/700/1*sxE38q1ttzeRg1QvC28a6g.png">
<img src = "https://www.programaenpython.com/wp-content/uploads/2021/09/operaciones-con-sets.png" >

In [ ]:
lista_ingles = ['Ana', 'Marcos', 'Carlos', 'Mario']
print(type(lista_ingles))

In [ ]:
ingles = set(lista_ingles)
print(type(ingles))

In [ ]:
matematicas = {'Ana', 'Pedro', 'Carlos', 'Antonio'}
fisica = {'Ana', 'Antonio', 'Marcos', 'Pepe'}

In [ ]:
todos = ingles.union(matematicas).union(fisica)
todos

In [ ]:
len(todos)

In [ ]:
fisica_mate= fisica.intersection(matematicas)
print(type(list(fisica_mate)))
print(type((fisica_mate)))

In [ ]:
fisica_mate

In [ ]:
todos_los_grupos=matematicas.intersection(ingles).intersection(fisica)
todos_los_grupos

### Ejercicio 4
Dada una lista de números y una tupla de números, encontrar los números que son comunes entre la lista y tupla, y luego almacenar esos números en una nueva lista.

In [ ]:
numeros_lista = [1, 2, 3, 4, 5, 6, 8, 3, 4, 9]
numeros_tupla = (3, 5, 7, 9, 11, 1)

In [ ]:
numeros_lista = set ([1, 2, 3, 4, 5, 6, 8, 3, 4, 9])
numeros_tupla = set ((3, 5, 7, 9, 11, 1))
newList = list (numeros_lista & numeros_tupla)

print (newList)

In [ ]:
numeros_lista = [1, 2, 3, 4, 5, 6, 8, 3, 4, 9]
numeros_tupla = (3, 5, 7, 9, 11, 1)
lista3 = []

tupla2 = set(numeros_lista)
numeros_tupla = set(numeros_tupla)
#Interseccion = &

interseccion = tupla2 & numeros_tupla

interseccion2 = list(interseccion)
for i in interseccion2:
    lista3.append(i)

print(lista3)

In [ ]:
interseccion2

In [ ]:
numeros_lista = [1, 2, 3, 4, 5, 6, 8, 3, 4, 9]
numeros_tupla = (3, 5, 7, 9, 11, 1)
numeros2_tupla=set(numeros_tupla)
interseccion=numeros2_tupla.intersection(numeros_lista)
print(list(interseccion))

In [ ]:
numeros_lista = set ([1, 2, 3, 4, 5, 6, 8, 3, 4, 9])
numeros_tupla = set ((3, 5, 7, 9, 11, 1))
interseccion = list (numeros_lista & numeros_tupla)
print(interseccion)

In [ ]:
list(set(numeros_lista).intersection(set(numeros_tupla)))

In [ ]:
numeros_lista = set ([1, 2, 3, 4, 5, 6, 8, 3, 4, 9])
numeros_tupla = set ((3, 5, 7, 9, 11, 1))

interseccion = list (numeros_lista & numeros_tupla)
print (interseccion)

# TITULO
## SUBTITULO
### SUB SUB TITULO

- RECUERDEN PONER LA CELDA EN MARKDOWN
- TAREA EN FORMATO .ipynb