# Clase 4 Fundamentos de Python

## Ejercicio 1
Escribir una función que reciba una función y una lista de numeros, y que devuelva otra lista con el resultado de aplicar la función dada a cada uno de los elementos de la lista.

- def aplicar_funcion(funcion_aplicar,lista) :
    ????
    return lista_nueva

- def funcion_A(numero) :
    ????
    return calculo

- def funcion_B(numero) :
    ????
    return calculo
    
aplicar_funcion(funcion_A,lista)

In [ ]:
def suma_uno (number):
    sumauno = number +1
    return sumauno

def aplicar_funcion(funct,lista ):
    new_list=[]
    for i in list:
        new_list = new_list.append(funct(lista[i]))
    return new_list

SyntaxError: invalid syntax (1292183085.py, line 5)

In [ ]:
lista = [2,6,4,7,8,4,78,7]

def aplicar_funcion(funcion, listas):
    nueva_lista = []
    for x in listas:
        nueva_lista.append(funcion(x))

    return nueva_lista

def potencia_2(num):
    pot = num**2
    return pot

def raiz_cuadrada(num):
    raiz = num ** (1/2)
    return raiz

print(aplicar_funcion(potencia_2,lista))

[4, 36, 16, 49, 64, 16, 6084, 49]

In [ ]:
def suma_uno (number):
    sumauno = number +1
    return sumauno

def aplicar_funcion(funct,lista ):
    new_list=[]
    for i in list:
        new_list = new_list.append(funct(lista[i]))
    return new_list

In [ ]:
def suma_uno (number):
    sumauno = number +1
    return sumauno

def aplicar_funcion(funct,lista ):
    new_list=[]
    for i in list:
        new_list = new_list.append(funct(lista[i]))
    return new_list

In [ ]:
def suma_uno (number):
    sumauno = number +1
    return sumauno

def aplicar_funcion(funct,lista ):
    new_list=[]
    for i in list:
        new_list = new_list.append(funct(lista[i]))
    return new_list

In [ ]:
def aplicar_funcion(funcion, lista):
    nueva_lista=[]
    for num in lista:
        nueva_lista.append(funcion(num))

    return nueva_lista

def funcion_A(numero):
    return numero**2

def funcion_B(numero):
    return numero*2


mi_lista=[1,2,3,4,5]
print(aplicar_funcion(funcion_A,mi_lista))
print(aplicar_funcion(funcion_B,mi_lista))

## Ejercicio 2

Crea un diccionario que represente tasas de conversión de una moneda internacional al peso mexicano y permite al usuario convertir una cantidad de pesos a otra moneda.

Tasas de Conversión (MXN como unidad base 9/07/2023):

- 1 USD (Dólar estadounidense) = 17.60 MXN
- 1 EUR (Euro) = 18.83 MXN
- 1 GBP (Libra esterlina) = 21.93 MXN
- 1 JPY (Yen japonés) = 0.12 MXN
- 1 CAD (Dólar canadiense) = 12.88 MXN

In [ ]:
tabla_conversion_MXN= {"USD":17.60,"EUR":18.83,"GBP":21.93,"JPY":0.12,"CAD":12.88}

moneda=input("Moneda que deseas cambiar")
def conversion(moneda):
    if moneda not in tabla_conversion_MXN:
        return("No tenemos informacion de cambio")
    else:
        cant=float(input("Ingresa el valor en pesos MXN"))
        return cant / tabla_conversion_MXN[moneda]
print(conversion(moneda))

Moneda que deseas cambiarUSD
Ingresa el valor en pesos MXN1000
56.81818181818181

In [ ]:
def convertir(tasa, cantidad):
  tasas_conversion={'USD':17.60, 'EUR':18.83, 'GBP':21.93, 'JPY':0.12, 'CAD':12.88}
  total= cantidad/tasas_conversion[tasa]
  return total

cantidad=float(input('Ingrese la cantidad a convertir: '))
tasa=input('Ingrese la monedad a la cual convertir: ')
print(convertir(tasa, cantidad))

Ingrese la cantidad a convertir: 1000
Ingrese la monedad a la cual convertir: USD
56.81818181818181

In [ ]:
#1 US = 17.6, 1 EUR =18.83, 1GBP = 21.93, 1JPY = .12 MXN, 1 CAD = 12.88 MXN
convert = {'US' : 17.6, 'EUR' : 18.83, 'GBP' : 21.93, 'JPY' : .12, 'CAD' : 12.88}
convert.keys

print('Por favor ingresa cuanto quieres convertir')
cantidad = input()
cantidad = float(cantidad)
print('Por favor ingresa a que moneda US, EUR, GBP, JPY, CAD')
currency = input()

print('el monto es ', cantidad / convert[currency], ' en ', convert[currency])

Por favor ingresa cuanto quieres convertir
1000
Por favor ingresa a que moneda US, EUR, GBP, JPY, CAD
US
el monto es  56.81818181818181  en  17.6

In [ ]:
diccionario = {"USD": 17.60,
               "EURO": 18.83,
               "GBP": 21.93,
               "GPY": 0.12,
               "CAD": 12.88}

pesos = input("Cuantos pesos quieres invertir a USD, EURO, GBP, GPY, CAD, Ejemplo (16 USD): ").upper()

lista = pesos.split()

string = lista[1]
pesos = int(lista[0])

print(f"tus {pesos} equivalen a {pesos/diccionario[string] } {string}")

Cuantos pesos quieres invertir a USD, EURO, GBP, GPY, CAD, Ejemplo (16 USD): 1000 USD
tus 1000 equivalen a 56.81818181818181 USD

In [ ]:
# Crear un diccionario con las tasas de conversión (MXN como unidad base).
tasas_de_conversion = {
    "USD": 17.60,   # 1 USD = 17.60 MXN
    "EUR": 18.83,   # 1 EUR = 18.83 MXN
    "GBP": 21.93,   # 1 GBP = 21.93 MXN
    "JPY": 0.12,    # 1 JPY = 0.12 MXN
    "CAD": 12.88    # 1 CAD = 12.88 MXN
}

def convertir_a_otra_moneda(cantidad_mxn, moneda_destino):
    if moneda_destino in tasas_de_conversion:
        tasa_destino = tasas_de_conversion[moneda_destino]
        cantidad_convertida = cantidad_mxn / tasa_destino
        return cantidad_convertida
    else:
        return None

print("Tasas de Conversión (MXN como unidad base 9/07/2023):")
for moneda, tasa in tasas_de_conversion.items():
    print(f"1 {moneda} = {tasa} MXN")

while True:
    cantidad_mxn = float(input("\nIngrese la cantidad en pesos mexicanos (MXN) que desea convertir: "))
    moneda_destino = input("Ingrese la moneda de destino (ejemplo: USD, EUR, GBP, JPY, CAD): ").upper()

    resultado = convertir_a_otra_moneda(cantidad_mxn, moneda_destino)
    if resultado is not None:
        print(f"{cantidad_mxn:.2f} MXN equivale a {resultado:.2f} {moneda_destino}")
    else:
        print("Moneda de destino no válida. Intente nuevamente.")

    continuar = input("\n¿Desea realizar otra conversión? (S/N): ").upper()
    if continuar != "S":
        print("¡Hasta luego!")
        break

Tasas de Conversión (MXN como unidad base 9/07/2023):
1 USD = 17.6 MXN
1 EUR = 18.83 MXN
1 GBP = 21.93 MXN
1 JPY = 0.12 MXN
1 CAD = 12.88 MXN

Ingrese la cantidad en pesos mexicanos (MXN) que desea convertir: 1000
Ingrese la moneda de destino (ejemplo: USD, EUR, GBP, JPY, CAD): USD
1000.00 MXN equivale a 56.82 USD

¿Desea realizar otra conversión? (S/N): N
¡Hasta luego!

## Manejo de Archivos

In [ ]:
ls

Clase3_FundamentosPython 11092023.ipynb
Clase4_FundamentosPython.ipynb
Data/

In [ ]:
folder = 'Data/'

In [ ]:
ls Data

cotizacion.csv           cotizaciones_excel.xlsx
cotizaciones_copy.xlsx   tabla-5.txt

### Archivos de texto

In [ ]:
#archivo-salida.py
file_name = 'HolaMundo2.txt'
f = open (folder+file_name,'w') #solo escritura, si el archivo existe sobrecribe su contenido
f.write('Adios Mundo Cruel')
f.close()

In [ ]:
ls Data/

HolaMundo.txt            cotizacion.csv           cotizaciones_excel.xlsx
HolaMundo2.txt           cotizaciones_copy.xlsx   tabla-5.txt

In [ ]:
cat Data/HolaMundo2.txt

Adios Mundo Cruel

In [ ]:
# archivo-entrada.py
f = open (folder+file_name,'r') # solo lectura
mensaje = f.read()
print(mensaje)
f.close()

Adios Mundo Cruel

In [ ]:
# archivo-apendice.py
f = open(folder+file_name,'a') # Permite agregar nueva informacion al archivo
f.write('!!!\n' + 'Hola Python')
f.close()

In [ ]:
cat Data/HolaMundo2.txt

Adios Mundo Cruel!!!
Hola Python

In [ ]:
with open(folder+file_name) as archivo:
    for linea in archivo:
        print(linea)

Adios Mundo Cruel!!!

Hola Python

In [ ]:
filename = "app.txt"
data = ["You", "are\n", "Wizard\n", "Harry ", "Potter !!\n"]
fl = open(folder+filename, "w")
fl.writelines(data)
fl.close()

In [ ]:
cat Data/app.txt

Youare
Wizard
Harry Potter !!

In [ ]:
# Using readlines()

fl = open(folder+filename, "r")
lines = fl.readlines()

count = 0
# Strips the newline character
for line in lines:
  count += 1
  print("Line{}: {}".format(count, line.strip()))

Line1: Youare
Line2: Wizard
Line3: Harry Potter !!

##### Ejemplo
Escribir una funcion que acceda a un fichero TXT y muestre por pantalla el número de palabras que contiene.

In [ ]:
filename = "app.txt"

def open_txt(filename,folder):
    try:
        f = open(folder+filename, "r")
        texto = f.read()
        return texto
    except:
        print(f"El archivo {filename} no puede ser leido o no se encuentra.")
        return ""

def contar_palabras(texto):
    palabras = texto.split()
    return len(palabras)

In [ ]:
documento = open_txt(filename,folder)
print(documento.split())
print(contar_palabras(documento))

['Youare', 'Wizard', 'Harry', 'Potter', '!!']
5

### ARCHIVOS CSV

In [ ]:
import csv
filename = "cotizacion.csv"
with open(folder+filename, newline="") as csvfile:
    reader = csv.reader(csvfile, delimiter=";")
    for row in reader:
        print(row)

['Nombre', 'Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo']
['ACCIONA', '95,95', '96,75', '94,4', '84.962', '8166,11']
['ACERINOX', '8668', '8672', '8468', '885.99', '7633,81']
['ACS', '37,28', '37,66', '37,22', '655.982', '24517,29']
['AENA', '167,1', '167,5', '166,1', '133.738', '22336,10']
['AMADEUS', '69,96', '70,64', '69,56', '640.476', '44795,47']
['ARCELORMIT.', '14152', '14318', '14,08', '702.841', '9989,65']
['BA.SABADELL', '1,0165', '1033', '1,0165', '12.358.512', '12637,65']
['BA.SANTANDER', '4,02', '4,0675', '4,01', '36.129.692', '145765,44']
['BANKIA', '2249', '2262', '2224', '3.024.454', '6803,54']
['BANKINTER', '6,56', '6604', '6522', '1.375.976', '9030,20']
['BBVA', '5024', '5,05', '4969', '26.447.612', '132560,15']
['CAIXABANK', '2763', '2806', '2762', '13.031.097', '36239,22']
['CELLNEX', '30,17', '30,7', '30,17', '857.237', '25965,29']
['CIE AUTOMOT.', '23,44', '23,74', '23,4', '99.506', '2343,09']
['ENAGAS', '25,6', '25,66', '25,07', '842.54', '21524,77']
['ENCE', '3882', '3974', '3846', '2.099.698', '8219,83']
['ENDESA', '22,95', '23,03', '22,62', '1.236.799', '28233,46']
['FERROVIAL', '21,61', '21,72', '21,38', '2.065.931', '44656,05']
['GRIFOLS CL.A', '23,3', '23,6', '23,27', '719.503', '16787,55']
['IAG', '5,3', '5,46', '5292', '2.155.081', '11561,95']
['IBERDROLA', '8,45', '8,45', '8262', '15.637.958', '131426,05']
['INDITEX', '24,93', '25,19', '24,87', '2.600.144', '65012,92']
['INDRA A', '9,56', '9685', '9535', '392.06', '3755,57']
['INM.COLONIAL', '9915', '9915', '9745', '671.753', '6640,38']
['MAPFRE', '2654', '2654', '2,62', '3.045.972', '8063,13']
['MEDIASET', '6446', '6592', '6446', '2.647.557', '17277,04']
['MELIA HOTELS', '8,14', '8,19', '8,02', '480.21', '3914,93']
['MERLIN', '12,08', '12,08', '11,83', '777.543', '9357,77']
['NATURGY', '26,7', '26,77', '26,53', '2.100.737', '55986,54']
['R.E.C.', '19705', '19875', '19675', '1.246.171', '24585,33']
['REPSOL', '14515', '14605', '14,46', '5.046.648', '73333,78']
['SIEMENS GAME', '14,33', '14,39', '14155', '1.054.847', '15084,56']
['TEC.REUNIDAS', '23', '23,2', '22,78', '122.1', '2807,19']
['TELEFONICA', '7204', '7256', '7185', '9.913.249', '71564,99']
['VISCOFAN', '48,46', '49,12', '48,46', '67.71', '3295,43']

In [ ]:
import pandas as pd

data=pd.read_csv(folder+filename)
data

                                                                                                                      Nombre;Final;Máximo;Mínimo;Volumen;Efectivo
ACCIONA;95                                95;96                       75;94                     4;84.962;8166                                                11.0
ACERINOX;8668;8672;8468;885.99;7633       81                          NaN                       NaN                                                           NaN
ACS;37                                    28;37                       66;37                     22;655.982;24517                                             29.0
AENA;167                                  1;167                       5;166                     1;133.738;22336                                              10.0
AMADEUS;69                                96;70                       64;69                     56;640.476;44795                                             47.0
ARCELORMIT.;14152;14318;14                08;702.841;9989             65                        NaN                                                           NaN
BA.SABADELL;1                             0165;1033;1                 0165;12.358.512;12637     65                                                            NaN
BA.SANTANDER;4                            02;4                        0675;4                    01;36.129.692;145765                                         44.0
BANKIA;2249;2262;2224;3.024.454;6803      54                          NaN                       NaN                                                           NaN
BANKINTER;6                               56;6604;6522;1.375.976;9030 20                        NaN                                                           NaN
BBVA;5024;5                               05;4969;26.447.612;132560   15                        NaN                                                           NaN
CAIXABANK;2763;2806;2762;13.031.097;36239 22                          NaN                       NaN                                                           NaN
CELLNEX;30                                17;30                       7;30                      17;857.237;25965                                             29.0
CIE AUTOMOT.;23                           44;23                       74;23                     4;99.506;2343                                                 9.0
ENAGAS;25                                 6;25                        66;25                     07;842.54;21524                                              77.0
ENCE;3882;3974;3846;2.099.698;8219        83                          NaN                       NaN                                                           NaN
ENDESA;22                                 95;23                       03;22                     62;1.236.799;28233                                           46.0
FERROVIAL;21                              61;21                       72;21                     38;2.065.931;44656                                            5.0
GRIFOLS CL.A;23                           3;23                        6;23                      27;719.503;16787                                             55.0
IAG;5                                     3;5                         46;5292;2.155.081;11561   95                                                            NaN
IBERDROLA;8                               45;8                        45;8262;15.637.958;131426 05                                                            NaN
INDITEX;24                                93;25                       19;24                     87;2.600.144;65012                                           92.0
INDRA A;9                                 56;9685;9535;392.06;3755    57                        NaN                                                           NaN
INM.COLONIAL;9915;9915;9745;671.753;6640  38                          NaN                       NaN                                                           NaN
MAPFRE;2654;2654;2                        62;3.045.972;8063           13                        NaN                                                           NaN
MEDIASET;6446;6592;6446;2.647.557;17277   04                          NaN                       NaN                                                           NaN
MELIA HOTELS;8                            14;8                        19;8                      02;480.21;3914                                               93.0
MERLIN;12                                 08;12                       08;11                     83;777.543;9357                                              77.0
NATURGY;26                                7;26                        77;26                     53;2.100.737;55986                                           54.0
R.E.C.;19705;19875;19675;1.246.171;24585  33                          NaN                       NaN                                                           NaN
REPSOL;14515;14605;14                     46;5.046.648;73333          78                        NaN                                                           NaN
SIEMENS GAME;14                           33;14                       39;14155;1.054.847;15084  56                                                            NaN
TEC.REUNIDAS;23;23                        2;22                        78;122.1;2807             19                                                            NaN
TELEFONICA;7204;7256;7185;9.913.249;71564 99                          NaN                       NaN                                                           NaN
VISCOFAN;48                               46;49                       12;48                     46;67.71;3295                                                43.0

In [ ]:
data=pd.read_csv(folder+filename,sep=';')
data

          Nombre   Final  Máximo  Mínimo     Volumen   Efectivo
0        ACCIONA   95,95   96,75    94,4      84.962    8166,11
1       ACERINOX    8668    8672    8468      885.99    7633,81
2            ACS   37,28   37,66   37,22     655.982   24517,29
3           AENA   167,1   167,5   166,1     133.738   22336,10
4        AMADEUS   69,96   70,64   69,56     640.476   44795,47
5    ARCELORMIT.   14152   14318   14,08     702.841    9989,65
6    BA.SABADELL  1,0165    1033  1,0165  12.358.512   12637,65
7   BA.SANTANDER    4,02  4,0675    4,01  36.129.692  145765,44
8         BANKIA    2249    2262    2224   3.024.454    6803,54
9      BANKINTER    6,56    6604    6522   1.375.976    9030,20
10          BBVA    5024    5,05    4969  26.447.612  132560,15
11     CAIXABANK    2763    2806    2762  13.031.097   36239,22
12       CELLNEX   30,17    30,7   30,17     857.237   25965,29
13  CIE AUTOMOT.   23,44   23,74    23,4      99.506    2343,09
14        ENAGAS    25,6   25,66   25,07      842.54   21524,77
15          ENCE    3882    3974    3846   2.099.698    8219,83
16        ENDESA   22,95   23,03   22,62   1.236.799   28233,46
17     FERROVIAL   21,61   21,72   21,38   2.065.931   44656,05
18  GRIFOLS CL.A    23,3    23,6   23,27     719.503   16787,55
19           IAG     5,3    5,46    5292   2.155.081   11561,95
20     IBERDROLA    8,45    8,45    8262  15.637.958  131426,05
21       INDITEX   24,93   25,19   24,87   2.600.144   65012,92
22       INDRA A    9,56    9685    9535      392.06    3755,57
23  INM.COLONIAL    9915    9915    9745     671.753    6640,38
24        MAPFRE    2654    2654    2,62   3.045.972    8063,13
25      MEDIASET    6446    6592    6446   2.647.557   17277,04
26  MELIA HOTELS    8,14    8,19    8,02      480.21    3914,93
27        MERLIN   12,08   12,08   11,83     777.543    9357,77
28       NATURGY    26,7   26,77   26,53   2.100.737   55986,54
29        R.E.C.   19705   19875   19675   1.246.171   24585,33
30        REPSOL   14515   14605   14,46   5.046.648   73333,78
31  SIEMENS GAME   14,33   14,39   14155   1.054.847   15084,56
32  TEC.REUNIDAS      23    23,2   22,78       122.1    2807,19
33    TELEFONICA    7204    7256    7185   9.913.249   71564,99
34      VISCOFAN   48,46   49,12   48,46       67.71    3295,43

In [ ]:
! pip install xlwt openpyxl xlsxwriter xlrd

Requirement already satisfied: xlwt in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.3.0)
Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: xlsxwriter in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.1.0)
Requirement already satisfied: xlrd in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [ ]:
filename_xlsx = 'cotizaciones_copy.xlsx'
data.to_excel(folder+filename_xlsx)

### ARCHIVOS xlsx

In [ ]:
import openpyxl
filename_xlsx= "cotizaciones_excel.xlsx"
# Carga el archivo XLSX
libro_trabajo = openpyxl.load_workbook(folder+filename_xlsx)

hojas=libro_trabajo.sheetnames
print (f'El libro de excel tiene {len(hojas)}')
print (f'a lista de nombres del libro son {hojas}')

El libro de excel tiene 4
a lista de nombres del libro son ['Sheet1', 'Hoja1', 'Hoja2', 'Hoja3']

In [ ]:
ls Data/

HolaMundo.txt            cotizacion.csv           tabla-5.txt
HolaMundo2.txt           cotizaciones_copy.xlsx
app.txt                  cotizaciones_excel.xlsx

In [ ]:
# Accede a una hoja específica del libro de trabajo (por nombre o índice)
hoja = libro_trabajo["Hoja1"]  # Reemplaza "Hoja1" con el nombre de tu hoja

# Itera sobre las filas y columnas de la hoja
for fila in hoja.iter_rows():
    for celda in fila:
        print(celda.value)  # Imprime el valor de cada celda

None
Nombre
Final
Máximo
Mínimo
Volumen
Efectivo
6
BA.SABADELL
1,0165
1033
1,0165
12.358.512
12637,65
7
BA.SANTANDER
4,02
4,0675
4,01
36.129.692
145765,44
8
BANKIA
2249
2262
2224
3.024.454
6803,54
9
BANKINTER
6,56
6604
6522
1.375.976
9030,20
10
BBVA
5024
5,05
4969
26.447.612
132560,15

In [ ]:
# Cierra el libro de trabajo después de usarlo
libro_trabajo.close()

### ARCHIVOS JSON

In [ ]:
import json

data = {}
data['clients'] = []

data['clients'].append({
    'first_name': 'Sigrid',
    'last_name': 'Mannock',
    'age': 27,
    'amount': 7.17})

data['clients'].append({
    'first_name': 'Joe',
    'last_name': 'Hinners',
    'age': 31,
    'amount': [1.90, 5.50]})

data['clients'].append({
    'first_name': 'Theodoric',
    'last_name': 'Rivers',
    'age': 36,
    'amount': 1.11})
data

{'clients': [{'first_name': 'Sigrid',
   'last_name': 'Mannock',
   'age': 27,
   'amount': 7.17},
  {'first_name': 'Joe',
   'last_name': 'Hinners',
   'age': 31,
   'amount': [1.9, 5.5]},
  {'first_name': 'Theodoric',
   'last_name': 'Rivers',
   'age': 36,
   'amount': 1.11}]}

In [ ]:
filename = 'data.json'
with open(folder+filename, 'w') as file:
    json.dump(data, file, indent=4)

In [ ]:
with open(folder+filename) as file:
    data = json.load(file)
    for client in data['clients']:
        print('First name:', client['first_name'])
        print('Last name:', client['last_name'])
        print('Age:', client['age'])
        print('Amount:', client['amount'])
        print('')

First name: Sigrid
Last name: Mannock
Age: 27
Amount: 7.17

First name: Joe
Last name: Hinners
Age: 31
Amount: [1.9, 5.5]

First name: Theodoric
Last name: Rivers
Age: 36
Amount: 1.11

### Ejercicio 1

Escribir una función que pida un número entero entre 1 y 10 y guarde en un fichero con el nombre `tabla-n.txt` la tabla de multiplicar de ese número, done `n` es el número introducido.

- 1 x 1 = 1
- 1 x 2 = 2

In [ ]:
folder="Data/"
num=int(input("Ingresa un numero"))
archivo = open(f"{folder}tabla-del-{num}.txt", "w")
for i in range(10):
    archivo.writelines(f"{num} X {i+1}= {num *(i+1)}\n")
archivo.close()

Ingresa un numero4

In [ ]:
ls Data/

HolaMundo.txt            cotizacion.csv           data.json
HolaMundo2.txt           cotizaciones_copy.xlsx   tabla-5.txt
app.txt                  cotizaciones_excel.xlsx  tabla-del-4.txt

In [ ]:
def tabla_x(num):
    filename = f"tabla-{num}.txt"
    f1 = open(folder+filename, "a")
    for x in range(11):
        r = num * x
        f1.writelines(f"{x} X {num} = {r} \n")
    f1.close

numero = int(input("Escribe un numero entre 1 y 10"))

tabla_x(numero)

Escribe un numero entre 1 y 108

In [ ]:
ls Data/

HolaMundo.txt            cotizaciones_copy.xlsx   tabla-8.txt
HolaMundo2.txt           cotizaciones_excel.xlsx  tabla-del-4.txt
app.txt                  data.json
cotizacion.csv           tabla-5.txt

In [ ]:
def generar_tabla(numero):
    if 1 <= numero <= 10:
        nombre_archivo = f"tabla-{numero}.txt"
        with open(folder+nombre_archivo, "w") as archivo:
            for i in range(1, 11):
                resultado = numero * i
                archivo.write(f"{numero} x {i} = {resultado}\n")
        print(f"La tabla de multiplicar del {numero} se ha guardado en {nombre_archivo}")
    else:
        print("El número debe estar entre 1 al 10.")


numero = int(input("Ingresa un numeor del 1 y 10: "))
generar_tabla(numero)

Ingresa un numeor del 1 y 10: 7
La tabla de multiplicar del 7 se ha guardado en tabla-7.txt

In [ ]:
ls Data/

HolaMundo.txt            cotizaciones_copy.xlsx   tabla-7.txt
HolaMundo2.txt           cotizaciones_excel.xlsx  tabla-8.txt
app.txt                  data.json                tabla-del-4.txt
cotizacion.csv           tabla-5.txt

In [ ]:
cat Data/tabla-del-4.txt

4 X 1= 4
4 X 2= 8
4 X 3= 12
4 X 4= 16
4 X 5= 20
4 X 6= 24
4 X 7= 28
4 X 8= 32
4 X 9= 36
4 X 10= 40

In [ ]:
n = int(input('Introduce un número entero entre 1 y 10: '))
nombre_fichero = 'tabla-' + str(n) + '.txt'
f = open(folder+nombre_fichero, 'w')
for i in range(1, 10+1):
    texto = str(n) + ' x ' + str(i) + ' = ' + str(n * i) + '\n'
    print(texto)
    f.write(texto)
f.close()

Introduce un número entero entre 1 y 10: 5
5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

### Ejercicio 2
Escribir una función que pida dos números n y m entre 1 y 10, lea el fichero tabla-n.txt con la tabla de multiplicar de ese número, y muestre por pantalla la línea m del fichero. Si el fichero no existe debe mostrar un mensaje por pantalla informando de ello.

In [ ]:
n = int(input('Introduce un número entero entre 1 y 10: '))
m = int(input('Introduce otro número entero entre 1 y 10: '))
nombre_fichero = 'tabla-' + str(n) + '.txt'
try:
    with open(folder+nombre_fichero, 'r') as f:
        lineas = f.readlines()
    print(lineas[m - 1])
except FileNotFoundError:
    print('No existe el fichero con la tabla del ', n)