# CLASE 5 : PANDAS

# Ejemplo - Titanic

El fichero [titanic.csv] contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 5 primeras filas, las 5 últimas filas y una muestra aleatoria de 5 filas.
3. Mostrar por pantalla los datos del pasajero con identificador 148.
3. Mostrar por pantalla las filas pares del DataFrame.
4. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
5. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
5. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
6. Eliminar del DataFrame los pasajeros con edad desconocida.
7. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
8.  Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
9.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

# Solución

In [1]:
! pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: pip install --upgrade pip

In [2]:
pwd

'/Users/anacaros/Aletia/cursos/python_fundamentals'

In [3]:
#Librerias
import pandas as pd
import numpy as np

## 1. Generar un DataFrame con los datos del fichero.

In [4]:
titanic = pd.read_csv('titanic.csv', index_col=0)
titanic

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## 2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.

In [ ]:
# Dimensiones del DataFrame
print('Dimensiones:', titanic.shape)
print('Filas:', len(titanic))
print('Columnas:',len(titanic.columns))

In [ ]:
# Número de datos que contiene
print('Número de elementos:', titanic.size)

In [ ]:
# Nombres de sus columnas
titanic.columns

In [ ]:
# Nombres de sus fila
titanic.index

In [ ]:
# Tipos de datos de las columnas
titanic.dtypes

In [ ]:
# 5 primeras filas
titanic.head(1)

In [ ]:
# 5 últimas filas.
titanic.tail(5)

In [ ]:
# Muestra aleatoria de 5 filas 
titanic.sample(5)

## 3. Mostrar por pantalla los datos del pasajero con identificador 148.

In [ ]:
# Mostrar por pantalla los datos del pasajero con identificador 148
titanic.loc[[148]]

## 4. Mostrar por pantalla las filas pares del DataFrame.

In [ ]:
# Mostrar por pantalla las filas pares del DataFrame.
for i in range(0,10,2):
    print(i)

In [ ]:
list(range(0,10,2))

In [ ]:
mascara = range(0,10,2)
titanic.iloc[mascara]

In [ ]:
np.arange(0,10,2)

In [ ]:
# Mostrar por pantalla las filas pares del DataFrame.
mascara2 = np.arange(1,10,2)
titanic.loc[mascara2]

## 5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.

In [ ]:
titanic["Pclass"]==1

In [ ]:
titanic[titanic["Pclass"]==1]

In [ ]:
mascara=titanic["Pclass"]==1
titanic[mascara]['Name']

In [ ]:
titanic[mascara]['Name'].sort_values()

## 6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron

In [ ]:
titanic['Sex'].value_counts()

In [ ]:
titanic['Survived'].value_counts()

In [ ]:
titanic['Survived'].count()

In [ ]:
titanic['Survived'].value_counts()/titanic['Survived'].count()*100

In [ ]:
titanic['Survived'].value_counts(normalize=True)

In [ ]:
# Forma 1
print(titanic['Survived'].value_counts()/titanic['Survived'].count() * 100)
print('')
print('Sobrevivieron:',titanic['Survived'].value_counts()[1]/len(titanic['Survived'])*100 )
print('Murieron:',titanic['Survived'].value_counts()[0]/len(titanic['Survived'])*100 )

In [ ]:
# Forma 2
print(titanic['Survived'].value_counts(normalize=True) * 100)
print('')
print('Sobrevivieron:',titanic['Survived'].value_counts(normalize=True)[1] * 100 )
print('Murieron:',titanic['Survived'].value_counts(normalize=True)[0] * 100 )

## 7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.

In [ ]:
titanic.groupby('Pclass')

In [ ]:
titanic.groupby('Pclass').count()

In [ ]:
titanic.groupby('Pclass').value_counts()

In [ ]:
titanic.groupby('Pclass')[['Survived','Sex']].value_counts()

In [ ]:
titanic.groupby('Pclass')['Survived'].value_counts(normalize=True)*100

## 8. Eliminar del DataFrame los pasajeros con edad desconocida.

In [ ]:
len(titanic)

In [ ]:
titanic.dropna()

In [ ]:
len(titanic.dropna())

In [ ]:
len(titanic.dropna(subset=['Age']))

In [ ]:
len(titanic)

In [ ]:
df_titanic = titanic.copy()

In [ ]:
titanic.dropna(subset=['Age'],inplace=True) # titanic = titanic.dropna(subset=['Age']) 
len(titanic)

In [ ]:
len(df_titanic)

## 9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

In [ ]:
titanic.groupby(['Pclass','Sex']).count()

In [ ]:
mascara=titanic['Sex']=='female'
female_df=titanic[mascara]
female_df

In [ ]:
female_df.groupby(['Pclass'])['Age'].describe()

In [ ]:
# Calculando solo la edad media
female_df.groupby(['Pclass'])['Age'].mean()

## 10. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.

In [ ]:
titanic['Age'] < 18

In [ ]:
titanic['Young'] = titanic['Age'] < 18

In [ ]:
titanic['Young'].value_counts()

## 11. Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [ ]:
titanic.groupby(['Pclass', 'Young']).count()

In [ ]:
titanic.groupby(['Pclass', 'Young'])['Survived'].count()

In [ ]:
titanic.groupby(['Pclass', 'Young'])['Survived'].value_counts(normalize = True)*100