# TAREA SEMANA 1 : FUNDAMENTOS DE PYTHON

## Nombre : Francisco Rafael Tenorio Naranjo

Ejercicio 1 

Crea un programa que tome un número ingresado por el usuario y determine si es par o impar.

In [5]:
number = int(input("Please insert your favourite number :"))

if number % 2 == 0:
    print("your number is even")
else:
    print("your number is odd")

Please insert your favourite number :21
your number is odd

Primero utilice la funcion input para ingresar un numero, el cual con la funcion int es convertido a numero enter
Segundo, aplique una condicion donde se declara si el resudual del a division del numero entre 2 es igual a 0, es numero par(even).
Tercero, con la condicion restante else, si no cumple la condicion anterior, el numero es impar (odd)

Ejercicio 2 

Escribe un programa que convierta una cadena de texto en mayúsculas.

In [8]:
text = "This is an exmaple made on april fifteen"
capital_text = text.upper()
print(capital_text)

THIS IS AN EXMAPLE MADE ON APRIL FIFTEEN

Primero, se asigna texto (string) a la variable text
Segundo, se crea una segunda variable aplicando la funcion upper() a la primera variable
Tercer, se us la fucnion print para mostrar el texto modificado

Ejercicio 3

Crea un programa que lea una cadena de texto ingresada por el usuario y que cuente cuántas veces aparece una letra específica en ella.

In [11]:
text1= input("Please insert a comment here: ")
text1.count("a")

Please insert a comment here: That was an amazing movie last night

6

Ejercicio 4

Escribe un programa que determine si un número es primo o no.

In [27]:
number = int(input("Please insert your number to verify if it is a primer number: "))

if number <= 1:
    print(number,"is not a prime number")
if number == 2 or number == 3:
    print(number,"is a prime number")
if number % 2 == 0:
    print(number,"is not a primer number")
else:
    i = 3
    while i*i <= number:
        if number % i == 0:
            print(number,"is not a primer number")
            break
        i += 2
    else:
        print(number, " is a prime number")

Please insert your number to verify if it is a primer number: 6
6 is not a primer number

Tuve dificultades para definir lo que es un numero primo matematicamente e insertarlo con condicion else en python. Lo cual tuve que buscar las expresiones correctas para definirlo matematicamente
Primero, se asigna un numero a la variable number usando la funcion input
Segundo se asginand condiciones para los numeros 1,2 y 3. Tambien, la condicion si el residual de la division entre dos es igual a 0.
Tercero, en la condicion else usando la funcion while es la que busque y copie y pegue.

Ejercicio 5 

Crea un programa que calcule el área de un triángulo a partir de la base y la altura ingresadas por el usuario.

In [30]:
print("To obtain the area of a triangle we need base and height")
base=int(input("Please, input the nummber for the base: "))
altura=int(input("please, input the number for the height: "))

area = (base*altura)/2

print(area, "this is the triangle area")

To obtain the area of a triangle we need base and height
Please, input the nummber for the base: 34
please, input the number for the height: 12
204.0 this is the triangle area

Ejercicio 6 

Escribe un programa que tome una lista de números y devuelva la suma de todos ellos.

In [40]:
numbers = [1,2,3,4,5,6,7,8,9,10]
sumnumbers=0
for num in range(numbers[0],numbers[-1]+1):
    sumnumbers = sumnumbers + num
print("The sum of all numbers included in the is: ", sumnumbers)

The sum of all numbers included in the is:  55

Primero, un lista de numeros es creada, ademas una variable con valor 0
Segundo, con la funcion for en un rango definido por la lista se hace la suma de los numeros incluidos en la lista
Tercer, seutiliza la funcion print para mostrar la suma obtenida

Ejercicio 7

Crea un programa que reciba una lista de nombres y que imprima solo aquellos que comiencen con una letra específica dada por el usuario.

In [83]:
names = ["Paco", "Carlos","Pedro","Hugo", "Cesar"]
letter = input("Please enter a letter to verify names: ")
letter1 = letter.upper()
for name in names:
    if name[0] == letter or name[0] == letter1:
        print(name)

Please enter a letter to verify names: P
Paco
Pedro

Primero, se crea una lista con diferentes nombres.

Segundo, Se asgina una letra a una variable.

Tercero, la letra se cambia a capital para compararla en caso de que la lista tenga letras capital.

Cuarto, se aplica la funcion for para comparar todos los nombres con la letra signada con la condicion if.

Quinto, se muestran los nombres en pantalla

Ejercicio 8

Escribe un programa que determine si una cadena de texto es un palíndromo o no.

In [96]:
word = input("Please input a word to verify if it is a palindrome: ")
word1 = word.lower()
word2 = word1[::-1]
if word1 == word2:
    print(word,"is a palindrome")
else:
    print(word,"is not a palindrome")

Please input a word to verify if it is a palindrome: Madam
Madam is a palindrome

Primero, se asgina una palabra a la variable word.
Segundo, se hace letra minusculas la variable word1.
Tercero, se obtiene la letra en formato revero en word2.
Cuarto, Se aplica la condicion para verificar si la palabra es igual al reverso

Ejercicio 9

Crea un programa que tome una lista de números y elimine todos los duplicados.

In [101]:
numbers_list=[0,0,1,1,2,3,4,5,5,6,6,7,7,8,9,10,11,12,13]
numbers=set(numbers_list)
print(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

Primero, se crea una lista con numeros, incluyendo algunos repetidos.
Segundo, se convierte la lista a set, ya que los sets no incluyen valores repetidos
Tercero, se utiliza la funcion print para mostrar los valores del set

Ejercicio 10

Escribe un programa que tome una lista de números y devuelva el valor máximo.

In [106]:
list= [1,2,3,4,5,6,7,8,9,20,19,18,17,16,15,14,13,11,10]
max_value=max(list)
print(max_value, "is the maximum value in the list")

20 is the maximum value in the list

Primero, se crea una lista con difrerentes numeros.
Segundo, se asgina el valor maximo de la lista a la variable max_value.
Tercero, se utiliza la funcion print para mostrar el numero maximo.

Ejercicio 11

Crea un programa que solicite al usuario su edad y que determine en que etapa de la vida se encuentra:

Primera Infancia (0-5 años)

Infancia (6 - 11 años)

Adolescencia (12 - 18 años)

Juventud (14 - 26 años)

Adultez (27- 59 años)

Persona Mayor (60 años o más).

In [117]:
age = int(input("Please input your age :"))
if age >=0 and age <=5:
    print("you are in Early Childhood ")
if age >=6 and age <=11:
    print("you are in Childhood")
if age >=12 and age <=18:
    print("you are in Adolescence ")
if age >=19 and age <=26:
    print("you are in Youth")
if age >=27 and age <= 59:
    print("you are in Adulthood")
if age >=60:
    print("you are in Elderlyhood")

Please input your age :5
you are in Early Childhood

Prmero se asigna una edad a la variable age.
Segundo se asignan condiciones en etapas.
Tercero, se usa la funcion print para mostrar la etapaen la que se encuentra.

Ejercicio 12 

Escribe un programa que tome una cadena de texto y que la divida en palabras, eliminando los espacios en blanco.

In [122]:
phrase = "This is an example for the exercise number twelve"
list1 = phrase.split(" ")
print(list1)

['This', 'is', 'an', 'example', 'for', 'the', 'exercise', 'number', 'twelve']

Primero, se crea una cadena de texto asignado a la variable phrase.
Segundo, se separa la cadena de texto en palabras creando una lista.
Tercero, se utiliza la funcion print para mostrar las palabras de la lista.

Ejercicio 13

Crea un programa que tome dos listas de números y que devuelva una tercera lista con los elementos comunes a ambas.

In [123]:
set1={10,15,20,25,11,14,21,26}
set2={15,21,11,8,44,55,67,28}
set3= set1 & set2

print(set3)

{11, 21, 15}

Primero, se crena dos sets con algunos numeros comunes entre ambos.
Segundo, se crea un tercer set haciendo una interseccion entre lo dos anteriores usando &.
Tercero, se utiliza la funcion print para mostrar el tercer set con los numeros comunes.

Ejercicio 14

Escribe un programa que tome una cadena de texto y que cuente cuántas palabras hay en ella.

In [197]:
phrase = "This is an example of a phrase for the exercise number fourteen"
words= phrase.split()
print("The are",len(words),"words in the phrase")

The are 12 words in the phrase

Ejercicio 15 

Crea un programa que calcule el área de un círculo a partir del radio ingresado por el usuario.

In [198]:
radio = int(input("Please type the radio to calculte the area of a circle: "))
area = (radio**2)*(3.14159)
print(area)

Please type the radio to calculte the area of a circle: 23
1661.90111

Primero, se asigna un numero a la variable radio.
Segundo, se aplica la formula matematica para encontrar el area usando la variable radio.
Tercero, se utiliza la funcion print para mostrar el area calculada.

Ejercicio 16

Escribe un programa que tome una lista de números y que devuelva la media aritmética.

In [199]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
suma=sum(list1)
number=len(list1)
avg= suma/number
print("the arithmetic mean is:",avg )

the arithmetic mean is: 10.5

Primero, se crea una lista con diferentes numeros.
Segundo, se hace una suma de todos los numeros de la lista usando la funcion sum y se asgina al a variable suma.
Tercero, se us la funcion len para encontrar el numero de valores encontrados en la lista.
Cuarto, se realiza una operacion aritmetica para encontrar el promedio.
Quinto, se utilia la funcion print para mostrar el promedio.

Ejercicio 17

Crea un programa que reciba dos números ingresados por el usuario y que devuelva su producto.

In [200]:
number1 = int(input("Please type your first number:"))
number2 = int(input("Please type your second number:"))
number3 = number1*number2
print("The product of the numbers is",number3)

Please type your first number:2345
Please type your second number:567
The product of the numbers is 1329615

Primero, se asigna el primer numero a la variable number1.
Segundo, se asigna el segundo numero a la variable number2.
Tercero, se realiza la multiplicacion de los dos numeros asignados creando la variable number3.
Cuarto, se utiliza la funcion print para mostrar el prodcuto de los dos numeros.

Ejercicio 18

Escribe un programa que tome una lista de palabras y que devuelva una lista con todas las palabras en mayúsculas.

In [201]:
words = ["sun","mercury","venus","earth","mars","jupiter","saturn","uranus","neptune",]
words1=[]
for word in words:
    words1.append(word.upper())
print(words1)

['SUN', 'MERCURY', 'VENUS', 'EARTH', 'MARS', 'JUPITER', 'SATURN', 'URANUS', 'NEPTUNE']

Primero, se crea la lista con differentes palabras(words).
Segundo, se crea una lista vacia (words1).
Tercero, se utiliza la funcion for para tomar cada palabra de la lista, cada palabra se anade a la lista words1 en letras capital.
Cuarto, se utiliza la funcion print para mostrar la lista con las palabras en capital.

Ejercicio 19

Crea un programa que tome una lista de números y que devuelva la suma de aquellos que son mayores a un valor específico ingresado por el usuario.

In [202]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers1=[]
x = int(input("Please type your number: "))
for i in numbers:
    if i > x:
        numbers1.append(i)
sum_numbers = sum(numbers1)
print(sum_numbers)

Please type your number: 5
40

Primero, se crea una lista con diferentes numeros (numbers).
Segundo, se crea una lista vacia (numbers1).
Tercero, se asigna un numero a la variable x.
Cuarto, utilizando la funcion for con una condicion, se asignan los numeros mayores al valor asignado y se anaden a la lista numbers1.
Quinto, se hace la suma de los valores de la lista numbers1.
Sexto, se utiliza la funcion print para mostrar la suma de los valores.

Ejercicio 20

Escribe un programa que tome una cadena de texto y que devuelva una nueva cadena con todas las letras en mayúsculas excepto la primera letra de cada palabra, que debe ser en minúsculas.

In [204]:
phrase = "The journey of a thousand miles begins with one step"
phrase1 = phrase.split(" ")
phrase2 =[]
for word in phrase1:
    phrase2.append(word[0].lower()+word[1:].upper())
phrase3 = " ".join(phrase2)
print(phrase3)

tHE jOURNEY oF a tHOUSAND mILES bEGINS wITH oNE sTEP

Primero, se crea una cadena de texto asginada a la variable phrase.
Segundo, se divide la cadena de texto en palabras y se asignan a la variable phase2.
Tercero, se crea una lista vacia en la variable phrase2.
Cuarto, se utiliza la funcion for para anadir a la variable phrase2 las palabras con pirmera letra en minuscula y las demas en mayuscula.
Quinto, se unen todas las palabras para crear una cadena de texto en la variable phrase3.
Sexto, se utiliza la funcion print para mostrar la nueva cadea de texto modificada.